.welcome {
    position: relative;
    text-align: center;
}

.welcome .slider {
    height: 100%;
}

.welcome .slider img {
    width: 100%;
}

.counterWrapper {
	text-align: center;;
}

.counterDiv {
    position: absolute;
    top: 50px;
    z-index: 100;
    text-shadow: 2px 2px 2px #ffffff;
    font-weight: bold;
}

.not-visible {
  visibility: hidden;
}

.story img {
	width: 400px;
}

.timeline timeline-event:nth-child(odd) {
	text-align: right;
}
