<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Vương & Duyên</title>
    <!-- Bootstrap -->
    <link href="node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="node_modules/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet">
    <link href="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-csp.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
    <link href="css/other/countdowncube.css" rel="stylesheet">
    <link href='unitegallery/dist/css/unite-gallery.css' rel='stylesheet' type='text/css' />
    <link href='unitegallery/dist/themes/default/ug-theme-default.css' rel='stylesheet' type='text/css' />
    <link href="bower_components/angular-timeline/dist/angular-timeline.css" rel='stylesheet' />
    <link href="bower_components/angular-timeline/dist/angular-timeline-animations.css" rel='stylesheet' />
    <link href="bower_components/leaflet/dist/leaflet.css" rel='stylesheet' />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body ng-app="wedding-app">
    <audio loop="loop" autoplay="autoplay">
        <source src="audio/music.ogg" />
        <source src="audio/music.mp3" />
    </audio>
    <uib-tabset active="0" justified="true">
        <uib-tab index="0">
            <uib-tab-heading>
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Xin chào/ Welcome
            </uib-tab-heading>
            <div class="welcome" style="" ng-controller="WelcomeController as welcomeCtrl">
                <div class="counterWrapper col-md-6 col-md-offset-3">
                    <div class="counterDiv">
                        <h1 style="font-size: 50px">Minh Vương & Hồng Duyên</h1>
                        <div id="counter">
                        </div>
                    </div>
                </div>
                <div class="slider" uib-carousel active="welcomeCtrl.active" interval="welcomeCtrl.myInterval" no-wrap="welcomeCtrl.noWrapSlides" no-pause="welcomeCtrl.noPause">
                    <div uib-slide ng-repeat="slide in welcomeCtrl.slides track by slide.id" index="slide.id">
                        <img ng-src="{{slide.image}}" style="margin:auto;">
                        <div class="carousel-caption">
                            <p>{{slide.text}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </uib-tab>
        <uib-tab index="1">
            <uib-tab-heading>
                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Chuyện tình/ Our Story
            </uib-tab-heading>
            <div class="story" style="" ng-controller="StoryController as storyCtrl">
                <timeline>
                    <timeline-event ng-repeat="event in storyCtrl.events" side="alternate">
                        <timeline-badge class="{{event.badgeClass}} {{ event.showed ? '': 'timeline-hidden'}}" when-visible="storyCtrl.animateElementIn" when-not-visible="storyCtrl.animateElementOut">
                            <i class="glyphicon {{event.badgeIconClass}}"></i>
                        </timeline-badge>
                        <timeline-panel class="{{event.badgeClass}} {{ event.showed ? '': 'timeline-hidden'}}" when-visible="storyCtrl.animateElementIn" when-not-visible="storyCtrl.animateElementOut">
                            <timeline-heading>
                                <h3>{{event.title}}</h3>
                            </timeline-heading>
                            <h4>{{event.content}}</h4>
                            <img ng-src="images/timeline/{{event.img}}">
                        </timeline-panel>
                    </timeline-event>
                </timeline>
            </div>
        </uib-tab>
        <uib-tab index="2">
            <uib-tab-heading>
                <span class="glyphicon glyphicon-camera" aria-hidden="true"></span> Ảnh cưới/ Photo Album
            </uib-tab-heading>
            <div class="album" style="text-align: center;" ng-controller="AlbumController as albumCtrl">
                <div class="galleryWrapper">
                    <div id="gallery" style="display:none;">
                        <img ng-repeat="image in albumCtrl.images" alt="{{image.text}}" ng-src="images/album/thumb/{{image.name}}" data-image="images/album/{{image.name}}" data-description="{{image.text}}">
                    </div>
                </div>
            </div>
        </uib-tab>
        <uib-tab index="3" id="location">
            <uib-tab-heading>
                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Địa điểm/ Location
            </uib-tab-heading>
            <div class="location" ng-controller="LocationController as locationCtrl">
                <leaflet center="locationCtrl.center" layers="locationCtrl.layers" paths="locationCtrl.paths" markers="locationCtrl.markers" closePopupOnClick="false" width="100%" height="800px"></leaflet>
            </div>
        </uib-tab>
    </uib-tabset>
    <script src="node_modules/jquery/dist/jquery.js"></script>
    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/angular-animate/angular-animate.js"></script>
    <script type="text/javascript" src="bower_components/angular-scroll-animate/dist/angular-scroll-animate.js"></script>
    <script src="node_modules/angular-touch/angular-touch.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
    <script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
    <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDO7DYmgsNswVepxloLD78YxZu5tJbDptM&libraries=geometry"></script> -->
    <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDO7DYmgsNswVepxloLD78YxZu5tJbDptM"></script> -->
    <script src="bower_components/leaflet/dist/leaflet.js"></script>
    <script src="bower_components/angular-simple-logger/dist/angular-simple-logger.js"></script>
    <script src="node_modules/leaflet-plugins/layer/tile/Bing.js"></script>
    <script src="bower_components/ui-leaflet/dist/ui-leaflet.js"></script>
    <script src="bower_components/ui-leaflet-layers/dist/ui-leaflet-layers.js"></script>
    <!-- other -->
    <script type="text/javascript" src="scripts/other/countdowncube.js"></script>
    <script type="text/javascript" src="unitegallery/dist/js/unitegallery.min.js"></script>
    <script type="text/javascript" src="unitegallery/dist/themes/default/ug-theme-default.js"></script>
    <script type="text/javascript" src="bower_components/angular-timeline/dist/angular-timeline.js"></script>
    <script type="text/javascript" src="scripts/other/jqueryStuff.js"></script>
    <!-- modules -->
    <script type="text/javascript" src="scripts/main.js"></script>
    <!-- controller -->
    <script type="text/javascript" src="scripts/controllers/welcome.js"></script>
    <script type="text/javascript" src="scripts/controllers/album.js"></script>
    <script type="text/javascript" src="scripts/controllers/story.js"></script>
    <script type="text/javascript" src="scripts/controllers/location.js"></script>
</body>

</html>
